// GENERAL
body {
    font-family: $main_font;
    font-size: 1rem;
    line-height: 2rem;
}

section,
footer {
    padding: 0 15%;
}

h1 {
    font-size: 4rem;
    font-weight: 300;
    line-height: 5.5rem;
    color: white;
}

h2 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.75;
}

h3 {
    font-size: 2.2rem;
    font-weight: 300;
    line-height: 1.5;
}

h4 {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1rem;
}

b {
    font-weight: bold;
}

.button {
    padding: 0.25rem 1.75rem;
    font-weight: bold;
    background-color: $secondary-color;
    border-radius: 25px;
    color: $main_light_background_color;

    &.top-nav-button {
        padding: 0.25rem 1.25rem;
        background-color: $main-color;
    }
}

// HEADER
header {
    height: 85vh;
    width: auto;
    background-image: url(/images/header_background.jpg);
    background-position: center;
    background-size: cover;
}

.top-bar {
    display: flex;
    padding: 2rem 4rem;
    justify-content: space-between;
}

.logo-container {
    width: 4rem;
    height: auto;

    & img {
        width: 100%;
        height: auto;
    }
}

.top-bar-right {
    display: inline-flex;
    width: 30%;
    height: auto;
    justify-content: space-between;
    align-items: center;
}

.search-container {
    display: flex;
    width: 15rem;
    height: auto;
    color: $main_light_background_color;

    & :last-child {
        font-size: 0.9rem;
        margin-left: -2rem;
        align-self: center;
    }
}

.search {
    width: 100%;
    padding: 0.75rem 2rem;
    color: $main_light_background_color;
    background-image: linear-gradient($main_dark_background_color, $secondary_dark_background_color);
    border: none;
    border-radius: 25px;
}

.burger-menu {
    display: inline-flex;
    flex-direction: column;
    height: 1.1rem;
    justify-content: space-between;
}

.burger-menu-item {
    height: 3px;
    width: 20px;
    background-color: $main_light_background_color;
}

.header-text-container {
    display: block;
    width: 40%;
    height: auto;
    margin-top: 10%;
    margin-left: 40%;
    color: white;

    :first-child {
        padding-bottom: 1rem;
    }
}

// SUPER-DUPER
.section-super-duper {
    background-color: $main-color;
}

// DESIGN FEATURES
.section-design-features {
    background-color: $main_light_background_color;
}

// DESIGNED FOR HUMANS
.section-designed-for-humans {
    background-color: $main_dark_background_color;
}

// FEATURES
.section-features {
    background-color: $secondary_dark_background_color;
}

// GRID CONTENT
.section-grid-content {
    background-color: $secondary_light_background_color;
}

// FOOTER
footer {
    background-color: $main_dark_background_color;
}
