// GENERAL
*{
    box-sizing: border-box;
}

body {
    font-family: $main_font;
    font-size: 1rem;
    line-height: 2rem;
    overflow-x: hidden;
}

section,
footer {
    padding: 5% 15%;
}

h1 {
    font-size: 4rem;
    font-weight: 300;
    line-height: 5.5rem;
    color: white;
}

h2 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.75;
}

h3 {
    font-size: 1.9rem;
    font-weight: 300;
    line-height: 1.5;
}

h4 {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.8rem;
    color: $secondary_dark_background_color;
}

b {
    font-weight: bold;
}

q {
    font-size: 1.5rem;
    font-weight: 300;
    font-style: italic;
}

.button {
    padding: 0.5rem 1.5rem;
    width: fit-content;
    font-weight: bold;
    background-color: $secondary-color;
    border-radius: 25px;
    color: $main_light_background_color;

    &.top-nav-button {
        padding: 0.25rem 1.25rem;
        background-color: $main-color;
    }
}

.light {
    color: $main_light_background_color;
}

// HEADER
header {
    height: 100vh;
    width: auto;
    background-image: url(/images/header_background.jpg);
    background-position: center;
    background-size: cover;
}

.top-bar {
    display: flex;
    padding: 2rem 4rem;
    justify-content: space-between;
}

.logo-container {
    width: 4rem;
    height: auto;

    & img {
        width: 100%;
        height: auto;
    }
}

.top-bar-right {
    display: inline-flex;
    width: 30%;
    height: auto;
    justify-content: space-between;
    align-items: center;
}

.search-container {
    display: flex;
    width: 15rem;
    height: auto;
    color: $main_light_background_color;

    & :last-child {
        font-size: 0.9rem;
        margin-left: -2rem;
        align-self: center;
    }
}

.search {
    width: 100%;
    padding: 0.75rem 2rem;
    color: $main_light_background_color;
    background-image: linear-gradient($main_dark_background_color, $secondary_dark_background_color);
    border: none;
    border-radius: 25px;
}

.burger-menu {
    display: inline-flex;
    flex-direction: column;
    height: 1.1rem;
    justify-content: space-between;
}

.burger-menu-item {
    height: 3px;
    width: 20px;
    background-color: $main_light_background_color;
}

.header-text-container {
    display: block;
    width: 40%;
    height: auto;
    margin-top: 10%;
    margin-left: 40%;
    color: white;

    :first-child {
        padding-bottom: 1rem;
    }
}

// SUPER-DUPER
.section-super-duper {
    background-color: $main-color;
    height: 30rem;
    width: auto;
}

.super-duper-main {
    display: flex;
    height: 100%;
    width: auto;
}

.super-duper-container {
    display: inline-flex;
    flex-direction: column;
    height: 80%;
    width: 40%;
    justify-content: space-around;

    &.right {
        height: 100%;
        width: 59%;
        padding-top: 0;
        justify-content: unset;
    }
}

.super-duper-bg {
    position: relative;
    display: inline-flex;
    height: auto;
    width: 100%;
    margin-top: -11rem;

    & :first-child {
        height: 70%;
        width: auto;
        margin-right: -3.5rem;
        margin-bottom: -4rem;
        align-self: flex-end;
    }

    & :last-child {
        height: 100%;
        width: auto;
        z-index: 1;
    }
}

// DESIGN FEATURES
.section-design-features {
    position: relative;
    height: 37rem;
    z-index: 2;
    background-color: $main_light_background_color;
}

.main-container {
    display: flex;
    padding-top: 2rem;
    justify-content: space-between;
}

.design-feature-container {
    display: inline-flex;
    width: 30%;
    height: 25rem;
    flex-direction: column;
    justify-content: space-between;
}

// DESIGNED FOR HUMANS
.section-designed-for-humans {
    padding-bottom: 0;
    text-align: center;
    color: $main_light_background_color;
    background-color: $main_dark_background_color;

    & h2 {
        margin-bottom: 2rem;
    }
}

.upper-strip {
    display: flex;
    height: 2.5rem;
    width: 80%;
    align-items: center;
    margin: 0 auto;
    margin-top: 4rem;
    background-color: $secondary_dark_background_color;

    & :first-child {
        margin-left: 1.5rem;
    }

    & span {
        height: 0.5rem;
        width: 0.5rem;
        margin-left: 0.5rem;
        background-color: $secondary_light_background_color;
        border-radius: 50%;
    }
}

.design-win {
    display: flex;
    height: 15rem;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-image: url(/images/design_win.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    & a {
        padding: 0.75rem 1.5rem;
        font-size: 1.5rem;
        border: solid 2px $main_light_background_color;
    }
}

// FEATURES
.section-features {
    color: $main_light_background_color;
    background-color: $secondary_dark_background_color;
}

.feature-container {
    width: 23%;
    height: auto;

    & h4 {
        color: $main_light_background_color;
    }

    & p {
        color: lightslategray;
    }

    & img {
        height: 2rem;
        width: auto;
    }
}

.dark-numbers {
    color: grey;
}

// GRID CONTENT
.section-grid-content {
    padding: 0;
    background-color: $secondary_light_background_color;
}

.grid {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

.grid-container-first {
    display: flex;
    height: 35rem;
    width: 100vw;
}

.connectivity-container {
    justify-content: space-around;
    padding: 5% 2% 5% 15%;
    background-color: $main_light_background_color;
}

.cloud-container {
    display: inline-flex;

    & :first-child {
        padding-right: 1rem;
    }
}

.grid-image-full {
    background-image: url(/images/hand.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.grid-container-second {
    display: flex;
    height: 25rem;
    width: 100vw;
}

.grid-image-justified {
    height: 100%;
    margin-left: 30%;
    background-image: url(/images/play_phone.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.grid-purple {
    padding: 5% 15% 5% 5%;
    color: white;
    background-color: $main-color;
}

.grid-container-third {
    display: flex;
    height: 20rem;
    width: 100vw;
}

.grid-lorem {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 3%;
    padding-left: 15%;
    background-color: white;

    span {
        font-size: 2.5rem;
        font-weight: 300;
    }
}

.grid-two-phones {
    height: 100%;
    margin-right: 30%;
    background-image: url(/images/two_phones.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

// HAND-PEN
.section-hand-pen {
    height: 35rem;
    width: 100vw;
    padding: 0;
    background-image: url(/images/hand_writing.png);
    background-position: center;
    background-size: cover;
}

.purple-box {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 50%;
    padding-left: 15%;
    color: white;
    background-color: $main-color;

    & q {
        padding: 10% 25% 10% 0;
    }
}

.author {
    display: flex;
    height: 4rem;
    width: auto;
    align-items: center;

    & img {
        height: 90%;
        width: auto;
        padding-right: 1rem;
    }
}

// FOOTER
footer {
    color: $main_light_background_color;
    background-color: $main_dark_background_color;
}

.footer-main {
    display: flex;

    & ul, p {
        font-size: 0.85rem;
        line-height: 1.75rem;
    }
}

.footer-left {
    display: inline-flex;
    width: 55%;
    flex-direction: column;
}

.footer-nav {
    display: inline-flex;
    justify-content: space-between;
    padding-top: 3rem;
}

.footer-right {
    width: 40%;
}

.stay-in-touch {
    display: flex;
    height: 3.5rem;
    width: 100%;
    align-items: center;
    background-color: white;

    & input {
        height: 60%;
        width: 470%;
        border: none;
    }

    & i {
        padding: 0.75rem;
        font-size: 2rem;
        text-align: center;
        color: white;
        background-color: $main-color;
    }
}
