@media only screen and (min-width: 320px) {

}

@media only screen and (min-width: 768px) {

    h1 {
        font-size: 3.5rem;
        line-height: 4rem;
    }

    section,
    footer {
        padding: 5% 5%;
    }

    header {
        height: 70vh;
    }

    .header-text-container {
        width: 35rem;
        margin-top: 15%;
        margin-left: 25%;
        padding-right: 5%;
    }

    .section-super-duper {
        height: 20rem;
    }

    .super-duper-container {
        width: 55%;
        &.right {
            width: 45%;
        }
    }

    .super-duper-bg {
        margin-top: -8rem;
        justify-content: flex-end;
        :first-child {
            display: none;
        }
        :last-child {
            height: 80%;
            width: auto;
        }
    }

    .design-feature-container {
        height: 30rem;
    }

    .connectivity-container {
        padding: 4% 2% 4% 5%;
    }

    .grid-image-justified {
        margin-left: 10%;
    }

    .grid-purple {
        padding: 10% 10% 5% 10%;
    }

    .grid-lorem {
        margin-left: 10%;
    }

    .comments-nr {
        margin-left: 10%;
    }

    .grid-two-phones {
        margin-right: 10%;
    }

    .purple-box {
        padding-left: 5%;
    }
} 
	
@media only screen and (min-width: 1024px) {
    section,
    footer {
        padding: 5% 10%;
    }

    h1 {
        font-size: 4rem;
        line-height: 5.5rem;
    }

    header {
        height: 100vh;
    }

    .header-text-container {
        width: 40rem;
        margin-left: 25%;
        padding-right: 0;
    }

    .section-super-duper {
        height: 30rem;
    }

    .super-duper-container {
        width: 40%;
        &.right {
            width: 60%;
        }
    }

    .super-duper-bg {
        margin-top: -11rem;
        justify-content: none;
        :first-child {
            display: inline-flex;
        }
        :last-child {
            height: 100%;
        }
    }

    .design-feature-container {
        height: 28rem;
    }

    .connectivity-container {
        padding: 4% 2% 4% 7.5%;
    }

    .grid-image-justified {
        margin-left: 15%;
    }

    .grid-purple {
        padding: 10% 15% 5% 10%;
    }

    .grid-lorem {
        margin-left: 15%;
    }

    .comments-nr {
        margin-left: 15%;
    }

    .grid-two-phones {
        margin-right: 15%;
    }

    .purple-box {
        padding-left: 7.5%;
    }
}

@media only screen and (min-width: 1366px) {

    section,
    footer {
        padding: 5% 15%;
    }

    .header-text-container {
        width: 40rem;
        margin-top: 10%;
        margin-left: 40%;
    }

    .design-feature-container {
        height: 30rem;
    }

    .connectivity-container {
        padding: 4% 2% 4% 15%;
    }

    .grid-image-justified {
        margin-left: 30%;
    }

    .grid-purple {
        padding: 10% 30% 5% 10%;
    }

    .grid-lorem {
        margin-left: 30%;
    }

    .comments-nr {
        margin-left: 30%;
    }

    .grid-two-phones {
        margin-right: 30%;
    }

    .purple-box {
        padding-left: 15%;
    }
}
