// FONTS
$main_font: 'Open Sans', sans-serif;
$secondary_font: 'Open Sans', serif;

// COLORS
$main_color: #835fa8;
$secondary_color: #3dd2ae;

$text-main_color: #9da5b0;
$text-on-white-bg_color: #44484f;
$main-heading_color: #2b303b;
$subheading_color: #696f7c;

$main-dark-background_color: #232831;
$secondary-dark-background_color: #2b303b;
$main-light-background_color: #f4f8fb;
$secondary-light-background_color: #e9eef1;

$numbers_color: #3a4d60;
$circles_color: #434955;
