// FONTS
$main_font: 'Open Sans', sans-serif;

// COLORS
$main_color: #05396B;
$secondary_color: #5CDB94;
$main_dark_background_color: rgba(5, 58, 107, 0.04);
$secondary_dark_background_color: rgba(5, 58, 107, 0.04);
$main_light_background_color: rgba(5, 58, 107, 0.04);
$secondary_light_background_color: rgba(5, 58, 107, 0.04);
