/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 2rem;
}

section,
footer {
  padding: 3% 15%;
}

h1 {
  font-size: 4rem;
  font-weight: 300;
  line-height: 5.5rem;
  color: white;
}

h2 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.75;
}

h3 {
  font-size: 1.9rem;
  font-weight: 300;
  line-height: 1.5;
}

h4 {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1rem;
}

b {
  font-weight: bold;
}

.button {
  padding: 0.5rem 1.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
  background-color: #3dd2ae;
  border-radius: 25px;
  color: #f4f8fb;
}

.button.top-nav-button {
  padding: 0.25rem 1.25rem;
  background-color: #835fa8;
}

.light {
  color: #f4f8fb;
}

header {
  height: 85vh;
  width: auto;
  background-image: url(/images/header_background.jpg);
  background-position: center;
  background-size: cover;
}

.top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 4rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo-container {
  width: 4rem;
  height: auto;
}

.logo-container img {
  width: 100%;
  height: auto;
}

.top-bar-right {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 30%;
  height: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 15rem;
  height: auto;
  color: #f4f8fb;
}

.search-container :last-child {
  font-size: 0.9rem;
  margin-left: -2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.search {
  width: 100%;
  padding: 0.75rem 2rem;
  color: #f4f8fb;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#232831), to(#2b303b));
  background-image: linear-gradient(#232831, #2b303b);
  border: none;
  border-radius: 25px;
}

.burger-menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 1.1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.burger-menu-item {
  height: 3px;
  width: 20px;
  background-color: #f4f8fb;
}

.header-text-container {
  display: block;
  width: 40%;
  height: auto;
  margin-top: 10%;
  margin-left: 40%;
  color: white;
}

.header-text-container :first-child {
  padding-bottom: 1rem;
}

.section-super-duper {
  background-color: #835fa8;
}

.super-duper-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 6rem;
}

.super-duper-left {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  height: 13rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.super-duper-right {
  visibility: hidden;
}

.section-design-features {
  z-index: 1;
  background-color: #f4f8fb;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.design-feature-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 30%;
  height: 25rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-designed-for-humans {
  color: #f4f8fb;
  background-color: #232831;
}

.section-features {
  color: #f4f8fb;
  background-color: #2b303b;
}

.feature-container {
  width: 24%;
  height: auto;
}

.section-grid-content {
  background-color: #e9eef1;
}

footer {
  color: #f4f8fb;
  background-color: #232831;
}

.footer-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-left {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 55%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 3rem;
}

.footer-right {
  width: 40%;
}
/*# sourceMappingURL=style.css.map */