/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 2rem;
}

section,
footer {
  padding: 3% 15%;
}

h1 {
  font-size: 4rem;
  font-weight: 300;
  line-height: 5.5rem;
  color: white;
}

h2 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.75;
}

h3 {
  font-size: 1.9rem;
  font-weight: 300;
  line-height: 1.5;
}

h4 {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.8rem;
  color: #2b303b;
}

b {
  font-weight: bold;
}

q {
  font-size: 1.5rem;
  font-weight: 300;
  font-style: italic;
}

.button {
  padding: 0.5rem 1.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
  background-color: #3dd2ae;
  border-radius: 25px;
  color: #f4f8fb;
}

.button.top-nav-button {
  padding: 0.25rem 1.25rem;
  background-color: #835fa8;
}

.light {
  color: #f4f8fb;
}

header {
  height: 100vh;
  width: auto;
  background-image: url(/images/header_background.jpg);
  background-position: center;
  background-size: cover;
}

.top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 4rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo-container {
  width: 4rem;
  height: auto;
}

.logo-container img {
  width: 100%;
  height: auto;
}

.top-bar-right {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 30%;
  height: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 15rem;
  height: auto;
  color: #f4f8fb;
}

.search-container :last-child {
  font-size: 0.9rem;
  margin-left: -2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.search {
  width: 100%;
  padding: 0.75rem 2rem;
  color: #f4f8fb;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#232831), to(#2b303b));
  background-image: linear-gradient(#232831, #2b303b);
  border: none;
  border-radius: 25px;
}

.burger-menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 1.1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.burger-menu-item {
  height: 3px;
  width: 20px;
  background-color: #f4f8fb;
}

.header-text-container {
  display: block;
  width: 40%;
  height: auto;
  margin-top: 10%;
  margin-left: 40%;
  color: white;
}

.header-text-container :first-child {
  padding-bottom: 1rem;
}

.section-super-duper {
  background-color: #835fa8;
  height: 27rem;
  width: auto;
}

.super-duper-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: auto;
}

.super-duper-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 60%;
  width: 40%;
  padding-top: 3rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.super-duper-container.right {
  height: 100%;
  width: 59%;
  padding-top: 0;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
}

.super-duper-bg {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: auto;
  width: 100%;
  margin-top: -8rem;
}

.super-duper-bg :first-child {
  height: 70%;
  width: auto;
  margin-right: -3.5rem;
  margin-bottom: -6rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.super-duper-bg :last-child {
  height: 100%;
  width: auto;
  z-index: 1;
}

.section-design-features {
  position: relative;
  height: 30rem;
  z-index: 2;
  background-color: #f4f8fb;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.design-feature-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 30%;
  height: 25rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-designed-for-humans {
  padding-bottom: 0;
  text-align: center;
  color: #f4f8fb;
  background-color: #232831;
}

.section-designed-for-humans h2 {
  margin-bottom: 2rem;
}

.upper-strip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2.5rem;
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-top: 4rem;
  background-color: #2b303b;
}

.upper-strip :first-child {
  margin-left: 1.5rem;
}

.upper-strip span {
  height: 0.5rem;
  width: 0.5rem;
  margin-left: 0.5rem;
  background-color: #e9eef1;
  border-radius: 50%;
}

.design-win {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 15rem;
  width: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  background-image: url(/images/design_win.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.design-win a {
  padding: 0.75rem 1.5rem;
  font-size: 1.5rem;
  border: solid 2px #f4f8fb;
}

.section-features {
  color: #f4f8fb;
  background-color: #2b303b;
}

.feature-container {
  width: 23%;
  height: auto;
}

.feature-container h4 {
  color: #f4f8fb;
}

.feature-container p {
  color: lightslategray;
}

.feature-container img {
  height: 2rem;
  width: auto;
}

.dark-numbers {
  color: grey;
}

.section-grid-content {
  background-color: #e9eef1;
}

.grid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.grid {
  width: 50%;
}

.section-hand-pen {
  height: 35rem;
  width: auto;
  padding: 0;
  background-image: url(/images/hand_writing.png);
  background-position: center;
  background-size: cover;
}

.purple-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80%;
  width: 35%;
  padding-left: 15%;
  color: white;
  background-color: #835fa8;
}

.purple-box q {
  padding: 10% 25% 10% 0;
}

.author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4rem;
  width: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.author img {
  height: 90%;
  width: auto;
  padding-right: 1rem;
}

footer {
  color: #f4f8fb;
  background-color: #232831;
}

.footer-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-main ul, .footer-main p {
  font-size: 0.85rem;
  line-height: 1.75rem;
}

.footer-left {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 55%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 3rem;
}

.footer-right {
  width: 40%;
}

.stay-in-touch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3.5rem;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.stay-in-touch input {
  height: 60%;
  width: 470%;
  border: none;
}

.stay-in-touch i {
  padding: 0.75rem;
  font-size: 2rem;
  text-align: center;
  color: white;
  background-color: #835fa8;
}
/*# sourceMappingURL=style.css.map */