@media only screen and (min-width: 320px) {

    h1,
    h2 {
        line-height: 2.5rem;
    }

    h3,
    .h3-style {

        line-height: 2rem;
    }

    header {
        height: 20rem;
    }

    #header-img {
        width: 13rem;
    }

    footer {
        padding: 0 10%;
    }

    .footer-main {
        flex-direction: column;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }

    .footer-parem {
        font-size: 1.2rem;
        text-align: center;
    }

    #footer-logo {
        width: 14rem;
    }

    section {
        margin: 20% 5% 0 5%;
    }

    .register-container {
        flex-direction: column;
        margin-top: -30%;
        justify-content: space-around;
    }
    
    .register {
        height: 100%;
        width: 60%;
        margin: 0.25rem 0;
        padding: 2.5rem;
    }
    
    .button {
        margin: 1rem 0;
        padding: 0.5rem 0;

        &.hidden {
            height: 1.75rem;
        }
        
        & img {
            height: 1.5rem;
        }
    }

    .mob-smaller {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }

    .main-container {
        flex-direction: column;
        margin-top: 3rem;
    }
    
    .large-container {
        width: 100%;
    }

    .naidispaev-ul {
        padding-left: 0;
    }

    #p-margin-top {
        margin-top: 1.5rem;
    }
    
    .mob-none {
        display: none;
    }
}	

@media only screen and (min-width: 768px) {

    h1,
    h2 {
        line-height: 4.5rem;
    }

    h3,
    .h3-style {

        line-height: 3.5rem;
    }

    header {
        height: 30rem;
    }

    #header-img {
        width: 18rem;
    }

    footer {
        padding: 0 10%;
    }

    .footer-main {
        flex-direction: row;
        padding-top: 5rem;
        padding-bottom: 0;
    }

    .footer-parem {
        font-size: 1.5rem;
        text-align: left;
    }

    section {
        margin: 6% 5% 0 5%;
    }

    .main-container {
        flex-direction: row;
    }
    
    .large-container {
        width: 75%;
    }

    .register-container {
        flex-direction: row;
        margin-top: -20%;
    }
    
    .register {
        flex-direction: column;
        height: 15rem;
        width: 19.5rem;
        margin: 0 0.25rem;
        padding: 3rem;
    }
    
    .button {
        margin: 1rem 0;
        padding: 1rem 0;

        &.hidden {
            height: 2.5rem;
        }
        
        & img {
            height: 1.75rem;
        }
    }

    .mob-smaller {
        font-size: 1.5rem;
    }

    .naidispaev-ul {
        padding-left: 3rem;
    }

    #p-margin-top {
        margin-top: 2.5rem;
    }

    .mob-none {
        display: inline-flex;
    }
}
	
@media only screen and (min-width: 1024px) {

    header {
        height: 40rem;
    }

    #header-img {
        width: 25rem;
    }

    footer {
        padding: 0 12%;
    }

    #footer-logo {
        width: 16rem;
    }
    
    section {
        margin: 6% 10% 0 10%;
    }

    #mob-smaller {
        line-height: 3.5rem;
    }
}

@media only screen and (min-width: 1366px) {
    footer {
        padding: 0 16%;
    }

    #footer-logo {
        width: 18rem;

        & img {
            width: 100%;
        }
    }
    
    section {
        margin: 6% 22% 0 22%;
    }
}
